.companyTitle {
  text-align: center;
  font-family: Delmon Delicate;
  font-size: 46px;
  color: rgb(0, 0, 0);
}

/* .buttonPlacement {
    margin-top: em;
} */

.imageSlider {
  color: black;
  font-size: 28px;
}
.cardButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: inline-block;
}

.centerButton {
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.buttonPlacement {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
}

/* --------------------Slide Nav Buttons-------------------- */
.icon-button {
  align-self: center;
}

.arrow-button {
  align-self: center;
  font-size: 1rem;
  color: #010101;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.designs_container {
  display: flex;
  justify-content: center;
}
/* --------------------------------------------------------- */

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  overflow: hidden;
}

.designs {
  display: inline-block;
}

/* .slide {
    opacity: .2;
    transition-duration: 2s ease;
    background-color: white;
    transition: background-color 2s ease;  
}

.slide.active {
    opacity: 1;
    transition-duration: 1s ; */
/* background-color: "#A9E4EF"; */
/* transition: background-color "#A9E4EF"; */
/* transform: scale(1.06); */

/* } */

/* .left {
    transform: scale(.93);
} */

.feedButton {
  margin-right: 100px;
}
