@font-face {
  font-family: "Delmon Delicate";
  src: url("../../../public/fonts/Delmon Delicate.ttf") format("truetype");
}

:root {
  --transparentGreen: rgb(83, 142, 82, 0.8);
  --transparentWhite: rgb(255, 255, 255, 0.6);
  --mainBlue: rgb(111, 177, 175);
}

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Delmon Delicate";
  margin: 0px;
  background-color: #fcf1d296;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 10px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  background: rgba(255, 255, 255, 0.33);
  /* background: hsla(358, 60%, 32%, 0.192); */
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(255, 255, 255, 1);
  max-width: 300px;
  padding: 25px;
  margin: auto;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Color Inputs
-------------------------------------------------------------------------------- */

input::-webkit-color-swatch {
  border: solid 2px #fcf1d296;
  border-radius: 50%;
}

.colorInput {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  height: 4em;
  width: 4em;
  border: none;
  border-radius: 50%;
}

/* --------------------------------------------------------------------------------
Designs Popover
-------------------------------------------------------------------------------- */

.designTitle {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.designTitle:hover {
  color: white;
  background-color: #c97c5d;
}

.popOverStyle {
  padding: 10px;
  width: 18em;
}
